:root{
  --purple: #870792;
  --backers: #25343b;
  --lines: #fff;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
  background: var(--backers);
}

main {
  /* Turns this element into a flexbox */
  display: flex;
  margin-top: 2%;
  flex-wrap: wrap;
}

p {
color: #fff;
font-size: large;
}

.main-header {
  /* display: flex; */
  /* Defines how to distribute the empty space between child elements */
  justify-content: space-between;
  padding: 60px;
  padding-top: 10px;
  background: var(--backers);
  color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2 {
text-align: center;
color: #fff;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

header h1 , h3 {
text-align: center;
}

nav {
  padding-top: 10px;
  margin-right: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  /* text-align: center; */
}

header nav ul li {
  display: inline-flex;
  margin-left: 25px;
  list-style-type: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}
#Gobby{
  color: #870792;
}

.card {
  /* A flex-basis of 200px sets the starting width */
  /* A flex-grow value of 1 allows the elements to evenly grow to fill the remaining space */
  flex: 1 0 200px;
  padding: 10px;
  text-align: center;
  border-style: dashed;
  border-width: 1px;
  color: var(--lines);
  margin-left: 3%;
  margin-right: 3%;
  max-width: 300px;
  min-width: 300px;
  margin-bottom: 50px;
}

.card :hover{

}

.card header {
  border-radius: 15px;
  margin-top: -40px;
  padding: 10px;
  background: var(--backers);
  border-color: var(--lines);
  border-style:solid;
  border-width: 2px;
  color: var(--purple);
  font-size: 25px;
}

.card p {
  /* With a flex-grow value of 2, this element grows twice as wide as others */
  /* The second value, flex-shrink, defines how the element will shrink if it can't fit */
  flex: 2 1 200px;
  color: var(--purple);
}

body  .main-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  /* float: left; */
  display: inline-flexbox;
}

body .main-header h1 {
  float: left;
  display: inline-flexbox;
  max-width: max-content;
}