html {
  scroll-behavior: smooth;
}
body {
margin: 0px;
background-image: url("../images/Back.jpg");
color: white;
}

body>header {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  background-image: url("../images/Header.jpg");
  width: 100vw;
  min-height: 45px;
  height: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-top: 0px;
  padding-top: 0px;
  border-top: 0px; */
  text-align: center;
}

body header h1 {
  /* float: left; */
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  display: flex;
  margin: 0px;
  justify-content: center;
}

body header nav {
  display: flex;
  justify-content: center;
flex-wrap: wrap;
}

body header nav div {
/* display: inline-flexbox; */
/* list-style: none; */
padding-left: 20px;
font-size: 25px;
margin-top: 0.2em;
min-width: 169px;
}

a {
  text-decoration: none;
  color: aliceblue;
}

main {
  margin: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto auto;
  text-align: center;
}

article {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-template-columns: 1fr;
}
@media (max-width: 992px) {
  main {
    /* grid-template-columns: 30% 70%; */
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 600px) {
  main {
    grid-template-columns: 1fr;
    /* display: block; */
  }
}

section{
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
  background-color: rgba(211, 211, 211, 0.1);
}

video {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.Portrait{
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  padding: 5px;
}

#Portrait {
width: 100%;
height: auto;
border-radius: 20px;
background-color: rgba(211, 211, 211, 0.1);
}

aside {
  /* scroll-padding: 800px; */
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  border-radius: 20px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.15);
  /* height: fit-content; */
}
.Content {
  grid-row-start: 4;
  grid-column: 1;
}

#Featured {
  grid-column-start: 2;
  grid-column-end: 4;
}
@media (min-width: 600px) {
  article {
    grid-template-columns: 1fr 1fr;
  }
  aside {
    opacity: 0;
  }
  aside:hover {
    transition: 1s;
    opacity: 1;
  }
  .Content {
    grid-row-start: 2;
  }
  .column1 {
    grid-column-start: 1;
  }
  .column2 {
   grid-column-start: 2;
  }
  .text {
    opacity: 0;
    height: 0px;
    width: 0px;
    margin: 0px;
}
@media (min-width: 992px) {
  article {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .column3 {
    grid-column-start: 3;
  }
}
.Content:hover > .text{
  transition: 1s;
  padding-right: -25%;
  padding-bottom: 10px;
  opacity: 1;
  height: auto;
  width: auto;
}
}
/* @media (max-width: 992px) {
  aside {
    grid-column: 2;
    grid-row: 1;
  } */
/* } */
@media (max-width: 600px) {
  aside {
    grid-column: 1;
    grid-row: 1;
  }
  .column1 {
    grid-row-start: 4;
  }
  .column2 {
    grid-row-start: 5;
  }
  .column3 {
    grid-row-start: 6;
  }
}
@media (max-width: 992px) {
  #Featured {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}
@media (max-width: 600px) {
  #Featured {
    grid-column: 1;
    grid-row: 2;
  }
}

#About{
}
